/* modal */
.local-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
    background-color: #f8f9fa;
}

.local-modal .modal-title {
    font-size: 1.5rem;
    color: #000;
    margin: 0;
}

.local-modal .close {
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.local-modal .close:hover {
    transform: scale(1.2);
    color: #007bff;
}

.local-modal .modal-body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background: #fff;
    color: #000;
    border-radius: 8px;
}

.local-modal .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 비율 */
    background: #fff;
    border-radius: 8px;
    margin-bottom: 20px; /* 텍스트 컨테이너와 간격 */
}

.local-modal .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.local-modal .modal-footer {
    display: none; /* 모달 프리뷰에 불필요한 푸터 제거 */
}

.local-modal .section-title {
    color: #111;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.local-modal ul {
    list-style-type: none;
    padding: 0;
    color: #000;
}

.local-modal ul li {
    margin: 5px 0;
}

.local-modal .img-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.local-modal .img-container img {
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    max-width: 100%;
    height: auto;
}

.local-modal .img-container img:hover {
    transform: scale(1.05);
}

.local-modal .img-container div {
    flex: 1;
    text-align: center;
}

.local-modal .img-container p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #111;
    font-weight: bold;
    text-align: center;
}